*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: pink;
}

header .contenedor{
    background-color: rgb(245, 12, 233);
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header .logo{
    margin: 0;
    box-sizing: border-box;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
}

header .logo img{
    vertical-align: top;
    
}

header .logo p{
    font-family: "Style Script", cursive;
    font-weight:bold;
    font-style: normal;
    text-align: center;
    font-size: 2.5em;
}

header nav{
    width: 50%;
    padding: 10px;
}

header nav ul{
    list-style: none;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:end;
    flex-wrap:wrap;
}

header nav ul a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

header nav ul a button{
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}

.container{
    padding: 0 1.5em;
}

.contenido{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.titulo{
    text-align: center;
}

.formulario{
    border: 1px solid crimson;
    background-color: hotpink;
}

.formulario *{
    padding: 1em;
}

.formulario form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario form p{
    margin: 0;
    padding: 1em;
}

.formulario form .block{
    grid-column: 1/3;

}

.formulario form button,
.formulario form input,
.formulario form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid;
}

.formulario form button{
    background-color: rgb(155, 17, 148);
    border: 0;
    padding: 1em;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}

.formulario form button:hover,
.formulario form button:focus {
    background: rgb(155, 17, 87);
    transition:background-color 1s ease-out;
    outline: 0;
    
}

.info{
    background-color: rgb(245, 12, 233);
}

.info h4, .info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.info .iconos {
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 25px 25px;

    
}



@media only screen and (min-width: 768px){
    .contenido{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .info h4, .info p{
        padding: 1em;
        text-align: left;
    }
    
    header nav ul{
        display:flex;
        justify-content:space-between;
        flex-direction: row;
        align-items: center;
        flex-wrap:wrap;
    }
    
}

